h1
{
	text-shadow: 2px 2px 10px purple;
	text-align:center;
	color:black;
	border:5px solid brown;
	border-collapse: collapse;
	border-style: double;
}
body
{
	background-image: url("w2.jpg");
	background-repeat: no-repeat;
   background-size:cover;
}
h1
{
	font-size: 350%;
}
h2
{
	font-size: 250%;
}
table,th,td
{
	border:3px solid black;
	border-collapse: collapse;
	padding: 20px;
	text-align: center;
}
ol
{
	font-size: 25px;
}
th
{
	font-size: 25px;
}
td
{
	font-size: 20px;
}
label
{
	font-size: 25px;
}
form
{
	border:3px solid purple;
	border-collapse: collapse;
	padding: 10px;
	text-align: center;
}
.c
{
  border: 5px;
  margin-right: 10px;
  border-color: black;
}
.d
{
	image-rendering: : center;
}
.e
{
	text-align: left;
}