h2
{
	font-family: 'Architects Daughter', cursive;
	font-size: 50px;
	color: white;
	text-align: center;
}
h4
{
	font-family: 'Architects Daughter', cursive;
	font-size: 30px;
	color: black;
	text-align: center;
}
table,th,td
{
	border:3px solid black;
	border-collapse: collapse;
	padding: 20px;
	text-align: center;
	margin-left: 200px;
	background-image: url(i2.jpg);
}

body
{
	background-color: black;
	color: white;
}